# Ex3 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [38]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [60]:
df = pd.read_csv('https://query.data.world/s/r64mxcsidf57qvqmchxp22yeoniwkg?dws=00000')

### Step 4. See the first 25 entries

In [45]:
df.head(25)

,name,birthday,title,characterName,characterYear,characterAge,characterGender,loveInterest
0,Ben Platt,09/24/1993,The Politician,Payton Hobart,hs senior,NaN,M,"Alice Charles, Astrid Sloan, River Barkley"
1,Zoey Deutch,11/10/1994,The Politician,Infinity Jackson,hs senior,NaN,F,NaN
2,Lucy Boynton,01/17/1994,The Politician,Astrid Sloan,hs senior,NaN,F,"Payton Hobart, River Barkley"
3,Julia Schlaepfer,03/03/1995,The Politician,Alice Charles,hs senior,NaN,F,"Payton Hobart, James Sullivan"
4,Laura Dreyfuss,08/22/1988,The Politician,McAfee Westbrook,hs senior,NaN,F,Skye Leighton
5,Theo Germaine,NaN,The Politician,James Sullivan,hs senior,NaN,M,Alice Charles
6,Rahne Jones,05/04/1987,The Politician,Skye Leighton,hs senior,NaN,NB,McAfee Westbrook
7,David Corenswet,07/08/1993,The Politician,River Barkley,hs senior,NaN,M,"Astrid Sloan, Payton Hobart"
8,Ryan J. Haddad,01/03/1992,The Politician,Andrew Cashman,hs senior,NaN,M,NaN
9,Alexis Bledel,09/16/1981,Gilmore Girls,Rory Gilmore,hs sophomore,NaN,F,Dean Forester
10,Keiko Agena,10/03/1973,Gilmore Girls,Lane Kim,hs sophomore,NaN,F,NaN
11,Liza Weil,06/05/1977,Gilmore Girls,Paris Geller,hs sophomore,NaN,F,NaN
12,Jared Padalecki,07/19/1982,Gilmore Girls,Dean Forester,hs sophomore,NaN,M,Rory Gilmore
13,Teal Redmann,09/30/1982,Gilmore Girls,Louise Grant,hs sophomore,NaN,F,NaN
14,Shelly Cole,08/22/1975,Gilmore Girls,Madeline Lynn,hs sophomore,NaN,F,NaN
15,Chad Michael Murray,08/24/1981,Gilmore Girls,Tristin Dugray,hs sophomore,NaN,M,NaN
16,Asa Butterfield,04/01/1997,Sex Education,Otis Milburn,NaN,16.0,M,"Maeve Wiley, Lily Iglehart, Ola Nyman"
17,Ncuti Gatwa,10/15/1992,Sex Education,Eric Effiong,NaN,16.0,M,Adam Groff
18,Emma Mackey,01/04/1996,Sex Education,Maeve Wiley,NaN,16.0,F,"Otis Milburn, Jackson Marchetti"
19,Connor Swindells,09/19/1996,Sex Education,Adam Groff,NaN,16.0,M,"Eric Effiong, Aimee Gibbs"
20,Kedar Williams-Stirling,12/14/1994,Sex Education,Jackson Marchetti,NaN,16.0,M,Maeve Wiley
21,Aimee Lou Wood,02/03/1995,Sex Education,Aimee Gibbs,NaN,16.0,F,Adam Groff
22,Tanya Reynolds,11/4/1991,Sex Education,Lily Iglehart,NaN,16.0,F,Otis Milburn
23,Patricia Allison,12/07/1994,Sex Education,Ola Nyman,NaN,16.0,F,Otis Milburn
24,Mimi Keene,08/05/1998,Sex Education,Ruby Matthews,NaN,16.0,F,NaN

### Step 5. See the last 10 entries

In [47]:
df.tail(10)

,name,birthday,title,characterName,characterYear,characterAge,characterGender,loveInterest
233,Connor Jessup,06/23/1994,Locke & Key,Tyler Locke,NaN,17.0,M,Jackie Veda
234,Emilia Jones,02/23/2002,Locke & Key,Kinsey Locke,hs sophomore,NaN,F,"Gabe, Scot Cavendish"
235,Griffin Gluck,08/24/2000,Locke & Key,Gabe,hs sophomore,NaN,M,Kinsey Locke
236,Petrice Jones,05/10/1993,Locke & Key,Scot Cavendish,hs junior,NaN,M,Kinsey Locke
237,Genevieve Kang,NaN,Locke & Key,Jackie Veda,NaN,17.0,F,Tyler Locke
238,Thomas Mitchell Barnet,NaN,Locke & Key,Sam Lesser,hs junior,NaN,M,NaN
239,Kevin Alves,10/19/1991,Locke & Key,Javi,hs junior,NaN,M,NaN
240,Asha Bromfield,11/09/1994,Locke & Key,Zadie Wells,hs junior,NaN,F,NaN
241,Felix Mallard,04/20/1998,Locke & Key,Lucas Caravaggio,NaN,17.0,M,NaN
242,Hallea Jones,NaN,Locke & Key,Eden Hawkins,hs junior,NaN,F,NaN

### Step 6. What is the number of observations in the dataset?

In [48]:
df.shape[0]

243

### Step 7. What is the number of columns in the dataset?

In [49]:
df.shape[1]

8

### Step 8. Print the name of all the columns.

In [50]:
df.columns

Index(['name', 'birthday', 'title', 'characterName', 'characterYear',
       'characterAge', 'characterGender', 'loveInterest'],
      dtype='object')

### Step 9. How is the dataset indexed?

In [51]:
df.index

RangeIndex(start=0, stop=243, step=1)

### Step 10. What is the data type of each column?

In [52]:
df.dtypes

name                object
birthday            object
title               object
characterName       object
characterYear       object
characterAge       float64
characterGender     object
loveInterest        object
dtype: object

### Step 11. Print only the loveInterest column

In [53]:
df.loveInterest

0      Alice Charles, Astrid Sloan, River Barkley
1                                             NaN
2                    Payton Hobart, River Barkley
3                   Payton Hobart, James Sullivan
4                                   Skye Leighton
                          ...
238                                           NaN
239                                           NaN
240                                           NaN
241                                           NaN
242                                           NaN
Name: loveInterest, Length: 243, dtype: object

### Step 12. How many different loveInterest are in this dataset?

In [55]:
df.loveInterest.nunique()

123

### Step 13. What is the most frequent loveInterest?

In [61]:
df.loveInterest.value_counts().head(1).index[0]

'Adam Groff'

### Step 14. Summarize the DataFrame.

In [62]:
df.describe()

       characterAge
count    131.000000
mean      16.580153
std        1.518877
min       10.000000
25%       16.000000
50%       17.000000
75%       17.000000
max       25.000000

### Step 15. Summarize all the columns

In [63]:
df.describe(include = "all")

,name,birthday,title,characterName,characterYear,characterAge,characterGender,loveInterest
count,243,227,243,243,111,131.000000,243,132
unique,240,220,33,243,8,NaN,4,123
top,Chad Michael Murray,11/09/1994,The Society,Payton Hobart,hs sophomore,NaN,F,Adam Groff
freq,2,2,14,1,39,NaN,129,2
mean,NaN,NaN,NaN,NaN,NaN,16.580153,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,1.518877,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,10.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,16.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,17.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,17.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,25.000000,NaN,NaN

### Step 16. Summarize only the loveInterest column

In [69]:
df.loveInterest.describe()

count            132
unique           123
top       Adam Groff
freq               2
Name: loveInterest, dtype: object

### Step 17. What is the mean birthday of users?

In [73]:
round(df.characterAge.mean())

17

### Step 18. What is the birthday with least occurrence?

In [70]:
df.birthday.value_counts().tail()

birthday
08/03/2000    1
11/15/1991    1
08/08/1989    1
09/16/1987    1
04/20/1998    1
Name: count, dtype: int64